.table-scrollable {
    /* border-style: solid;
    border-color: blue; */

    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling in iOS Safari */
  }